@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes throb {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes flipRightP1Win {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(0deg);
    }
    75% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
@keyframes flipLeftP1Win {
    0% {
        transform: rotateY(180deg);
    }
    25% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

@keyframes flipRightP2Win {
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(180deg);
    }
    50% {
        transform: rotateY(0deg);
    }
    75% {
        transform: rotateY(180deg);
    }
    90% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}
@keyframes flipLeftP2Win {
    0% {
        transform: rotateY(180deg);
    }
    25% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(0deg);
    }
    90% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
