.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(2, 2, 2, .75);
  z-index: 10;
}

@media (min-width: 700px) {
  .backdrop-invisible {
    display: none;
  }
}