@import "../../sass/variables";

.message-modal {
    width: 35vw;
    left: 32.5vw;
    color: rgb(97, 93, 93);
}

@media (max-width: 1300px) {
    .message-modal {
        width: 46vw;
        left: 27vw;
    }
}

@media (max-width: 880px) {
    .message-modal {
        width: 62vw;
        left: 14vw;
    }
}

@media (max-width: 600px) {
    .message-modal {
        width: 100vw;
        left: 0;
    }
}

.message-modal .modal__header {
    margin: 0;
    padding: 0.7rem 0.5rem;
}

.message-modal .modal__footer {
    padding: 0;
}
.admin-message-modal {
    & .modal__header {
        background-color: rgb(248, 166, 14);
    }
    font-size: 2.5rem;
    color: var(--color-text-admin);
    @media screen and (max-width: $tablet-land) {
        font-size: 2.2rem;
    }
    @media screen and (max-width: $tablet) {
        width: 68vw;
        left: 16vw;
    }
    @media screen and (max-width: $mobile) {
        font-size: 1.8rem;
        width: 90vw;
        left: 5vw;
    }
    @media screen and (max-width: $mobile-sm) {
        width: 100vw;
        left: 0;
    }
}
